<!DOCTYPE html>
<html lang="en">

	<!-- Victor Andreoni CS 4241
		Assignment 4
		
		This is the index file for the database program.
	 -->

	<head>
		<meta charset="utf-8">
		
		<title>Assignment 4</title>
		<meta name="description" content="Assignment 4">
		<meta name="author" content="Victor Andreoni">
		
		<link rel="stylesheet" type="text/css" href="<%= url('style.css') %>" />
		<script src="<%= url('/scripts/util.js') %>" type="text/javascript"></script>
		
	</head>

	<body>
		<div id="topbar">
			<header id="page-title-holder">
				<h1 id="page-title">Victor Andreoni - CS4241 - Assignment 4</h1>
			</header>
		</div>
		
		<div id="content"  style="min-height: 600px;">
			<br />
			<img src='./smartphones.jpg' class='center' width="525px" height="288px"/> 
			<p style="text-align: center"> 
				Welcome to the smartphone database!
				Please log in or register to access the 
				database information!
			</p>

			<div class="input_holder">
				<input type="button" value="Login" onClick="show_login()" />
				<input type="button" value="Register" onClick="show_register()" />

			</div>
			<br />

			<div class="input_holder">
				<form id="registration_form" style="display: none;" method="post" action="/register">
					Full Name: <input type="text" id="reg_name" name="fullname" /> <br />
					Username: <input type="text" id="reg_user" name="username" /> <br />
					Password: <input type="password" id="reg_pass" name="password"/> <br />
					<input type="submit" value="Submit" />
				</form>
			</div>

			<div class="input_holder">
				<form id="login_form" style="display: none;" method="post" action="/panel">
					Username: <input type="text" id="log_user" name="username"/> <br />
					Password: <input type="password" id="log_pass" name="password" /> <br />
					<input type="button" value="Submit" onClick="submit_login()" />
				</form>
				<br />
				<p id="login_fail_message" style="display: none;"> Login Failed!! </p>
			</div>

		</div>
		
		<div>
			<hr />
			<footer>
				<p style="text-align: center">
					&copy; Copyright  by Victor Andreoni
				</p>
			</footer>
		</div>
	</body>
</html>

